<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.inheaven.aida.happy.trading.mapper.AccountMapper">
    <resultMap id="account" type="ru.inheaven.aida.happy.trading.entity.Account">
        <id column="id" property="id"/>
        <result column="client_id" property="clientId"/>
        <result column="name" property="name"/>
        <result column="exchange_type" property="exchangeType"/>
        <result column="api_key" property="apiKey"/>
        <result column="secret_key" property="secretKey"/>

        <collection property="strategies" select="ru.inheaven.aida.happy.trading.mapper.StrategyMapper.selectStrategiesByAccount" column="id"/>
    </resultMap>

    <select id="selectAccount" parameterType="long" resultMap="account">
        select * from account where id = #{id}
    </select>

    <insert id="insertAccount" parameterType="ru.inheaven.aida.happy.trading.entity.Account" keyProperty="id">
        insert into account (client_id, `name`, exchange_type, api_key, secret_key)
            value (#{clientId}, #{name}, #{exchangeType}, #{apiKey}, #{secretKey});
    </insert>

    <update id="updateAccount" parameterType="ru.inheaven.aida.happy.trading.entity.Account">
        update account set client_id = #{clientId}, `name` = #{name}, exchange_type = #{exchangeType},
            api_key = #{apiKey}, secret_key = #{secretKey}
        where id = #{id}
    </update>

    <delete id="deleteAccount" parameterType="ru.inheaven.aida.happy.trading.entity.Account">
        delete from account where id = #{id}
    </delete>

    <select id="selectAccountsByClient" parameterType="long" resultMap="account">
        select * from account where client_id = #{clientId}
    </select>
</mapper>