<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.inheaven.aida.happy.trading.mapper.ClientMapper">
    <resultMap id="client" type="ru.inheaven.aida.happy.trading.entity.Client">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="login" property="login"/>
        <result column="password" property="password"/>

        <collection property="accounts" select="ru.inheaven.aida.happy.trading.mapper.AccountMapper.selectAccountsByClient" column="id"/>
    </resultMap>

    <select id="selectClients" resultType="ru.inheaven.aida.happy.trading.entity.Client">
        select * from `client`
    </select>

    <select id="selectClientsCount" resultType="ru.inheaven.aida.happy.trading.entity.Client">
        select count(*) from `client`
    </select>

    <select id="selectClient" parameterType="long" resultMap="client">
        select * from `client` where id = #{id}
    </select>

    <insert id="insertClient" parameterType="ru.inheaven.aida.happy.trading.entity.Client" keyProperty="id">
        insert into client (login, `name`, `password`) value (#{login}, #{name}, #{password})
    </insert>

    <update id="updateClient" parameterType="ru.inheaven.aida.happy.trading.entity.Client">
        update client set login = #{login}, `name` = #{name}, `password` = #{password}
        where id = #{id}
    </update>


</mapper>