<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.inheaven.aida.happy.trading.mapper.StrategyMapper">
    <resultMap id="strategy" type="ru.inheaven.aida.happy.trading.entity.Strategy">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="symbol" property="symbol"/>
        <result column="symbol_type" property="symbolType"/>
        <result column="level_lot" property="levelLot"/>
        <result column="level_spread" property="levelSpread"/>
        <result column="level_size" property="levelSize"/>
        <result column="active" property="active"/>
        <result column="session_start" property="sessionStart"/>

        <association property="account" select="ru.inheaven.aida.happy.trading.mapper.AccountMapper.selectAccount"
                     column="account_id"/>
    </resultMap>

    <insert id="insertStrategy" parameterType="ru.inheaven.aida.happy.trading.entity.Strategy" keyProperty="id" useGeneratedKeys="true">
        insert into strategy (`name`, type, account_id, symbol, symbol_type, level_lot, level_spread, level_size, active, session_start)
            value (#{name}, #{type}, #{account.id}, #{symbol}, #{symbolType}, #{levelLot}, #{levelSpread}, #{levelSize}, #{active}, #{sessionStart})
    </insert>

    <update id="updateStrategy" parameterType="ru.inheaven.aida.happy.trading.entity.Strategy">
        update strategy set `name` = #{name}, type = #{type}, account_id = #{account.id}, level_lot = #{levelLot},
            level_spread = #{levelSpread}, level_size = #{levelSize}
        where id = #{id}
    </update>

    <delete id="deleteStrategy" parameterType="ru.inheaven.aida.happy.trading.entity.Strategy">
        delete FROM strategy where id = #{id}
    </delete>

    <select id="selectStrategiesByAccount" resultMap="strategy" parameterType="long">
        select * from strategy where account_id = #{accountId}
    </select>

    <select id="selectActiveStrategies" resultMap="strategy">
        select * from strategy where active = true
    </select>

    <select id="selectStrategies" resultMap="strategy">
        select * from strategy
    </select>
</mapper>