<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.inheaven.aida.happy.trading.mapper.TradeMapper">
    <insert id="insertTrade" parameterType="ru.inheaven.aida.happy.trading.entity.Trade">
        insert ignore into trade (trade_id, exchange_type, symbol, symbol_type, order_type, price, amount, `time`, created)
                value (#{tradeId}, #{exchangeType}, #{symbol}, #{symbolType}, #{orderType}, #{price}, #{amount}, #{time}, #{created})
    </insert>

    <select id="selectTradeStdDev" parameterType="map" resultType="decimal">
        select stddev_samp(price) from trade where symbol = #{symbol} and created > date_sub(now(), INTERVAL #{minute} MINUTE);
    </select>

    <select id="selectTradeStdDevPt" parameterType="map" resultType="decimal">
        select stddev_samp(pt.price) from (select price from trade where symbol = #{symbol} order by id desc limit #{points}) pt;
    </select>
</mapper>