<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.inheaven.aida.happy.trading.mapper.UserInfoTotalMapper">
    <resultMap id="userInfoTotal" type="ru.inheaven.aida.happy.trading.entity.UserInfoTotal">
        <id column="id" property="id"/>
        <result column="account_id" property="accountId"/>
        <result column="spot_total" property="spotTotal"/>
        <result column="futures_total" property="futuresTotal"/>
        <result column="spot_volume" property="spotVolume"/>
        <result column="futures_volume" property="futuresVolume"/>
        <result column="ltc_price" property="ltcPrice"/>
        <result column="btc_price" property="btcPrice"/>
        <result column="created" property="created"/>
    </resultMap>

    <insert id="insertUserInfoTotal" parameterType="ru.inheaven.aida.happy.trading.entity.UserInfoTotal" keyProperty="id"
            useGeneratedKeys="true">
        insert into user_info_total (account_id, spot_total, futures_total, spot_volume, futures_volume,
                                     ltc_price, btc_price, created)
                value (#{accountId}, #{spotTotal}, #{futuresTotal}, #{spotVolume}, #{futuresVolume},
                       #{ltcPrice}, #{btcPrice}, #{created});
    </insert>

    <select id="selectUserInfoTotals" parameterType="map" resultMap="userInfoTotal">
        select * from user_info_total where account_id = #{accountId} and created > #{startDate}
    </select>
</mapper>