<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="mapUnderscoreToCamelCase" value="true"/>
        <property name="defaultExecutorType" value="REUSE"/>
        <property name="useGeneratedKeys" value="true"/>
        <property name="autoMappingBehavior" value="true"/>
    </properties>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/aida"/>
                <property name="username" value="aida"/>
                <property name="password" value="aida"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="ru/inheaven/aida/happy/trading/mapper/AccountMapper.xml"/>
        <mapper resource="ru/inheaven/aida/happy/trading/mapper/ClientMapper.xml"/>
        <mapper resource="ru/inheaven/aida/happy/trading/mapper/OrderMapper.xml"/>
        <mapper resource="ru/inheaven/aida/happy/trading/mapper/StrategyMapper.xml"/>
        <mapper resource="ru/inheaven/aida/happy/trading/mapper/UserInfoMapper.xml"/>
        <mapper resource="ru/inheaven/aida/happy/trading/mapper/UserInfoTotalMapper.xml"/>
        <mapper resource="ru/inheaven/aida/happy/trading/mapper/TradeMapper.xml"/>
        <mapper resource="ru/inheaven/aida/happy/trading/mapper/DepthMapper.xml"/>
        <mapper resource="ru/inheaven/aida/happy/trading/mapper/FuturesPositionMapper.xml"/>
    </mappers>
</configuration>