<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%n %d{HH:mm:ss.SSS} %level %msg</pattern>
        </encoder>
    </appender>

    <appender name="FILE_ERROR" class="ch.qos.logback.core.FileAppender">
        <file>/opt/log/error.log</file>
        <append>true</append>
        <encoder>
            <pattern>%n %d{HH:mm:ss.SSS} %level %msg</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE_ERROR" />
    </root>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/opt/log/vssa.log</file>
        <append>true</append>
        <encoder>
            <pattern>%n %d{HH:mm:ss.SSS} %level %msg</pattern>
        </encoder>
    </appender>

    <logger name="ru.inhell.aida.ssa" level="INFO">
        <appender-ref ref="FILE" />
    </logger>


</configuration>